@using Models.Enums
@using Core.Extentions
@using Entity.Models
@using Repository.Helpers
@model Models.Application.ApplicationCreateViewModel
@{
    string baslik = Model.Id == 0 ? "Oluştur" : "Düzenle";
    bool basvuruDuzenleme = Model.Id != 0 && Model.Statu != 1;
}
<div class="row mx-2">
    <div col="col-md-6">
        <div class="mb-3 card " style="width: 1300px">
            <div class="card-body">
                <h5 class="card-title">Başvuru @baslik</h5>
                <div class="position-relative row form-group">
                    <label for="transfertype" class="col-sm-2 col-form-label">Nakil Tipi</label>
                    <div class="col-sm-6">

                        <select name="select" required  readonly="@basvuruDuzenleme" id="transfertype" class="form-control">
                            @{

                                foreach (var item in Model.TransferTypeEnumList)
                                {
                                    var itemType = Convert.ToInt32(item);
                                    if (itemType == Model.TransferType)
                                    {
                                        <option value="@itemType" selected>@item.GetDescription()</option>
                                    }
                                    else
                                    {
                                        <option value="@itemType">@item.GetDescription()</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="position-relative row form-group">
                    @*@Html.LabelFor(x => x.RelativesName, new
                          {
                            @class = "col-sm-2 col-form-label"
                          })
                        @Html.TextBoxFor(x=>x.RelativesName,new
                        {
                            @class= "form-control", @placeholder="Yakın Adı..."
                        })*@
                    <label for="relativesname" class="col-sm-2 col-form-label">Yakın Adı</label>
                    <div class="col-sm-6"><input required id="relativesname" placeholder="Yakın Adı..."  readonly="@basvuruDuzenleme" type="text" class="form-control" value="@Model.RelativesName"></div>
                </div>
                <input type="hidden" name="basvuruid" id="basvuruid" value="@Model.Id" />
                <input type="hidden" name="sicknessdetailid" id="sicknessdetailid" value="@Model.SicknessDetailId" />
                <div class="position-relative row form-group">
                    <label for="relativessurname" class="col-sm-2 col-form-label">Yakın Soyadı</label>
                    <div class="col-sm-6"><input required id="relativessurname" readonly="@basvuruDuzenleme" placeholder="Yakın soyadı..." type="text" class="form-control" value="@Model.RelativesSurname"></div>
                </div>
                <div class="position-relative row form-group">
                    <label for="relativesphone" class="col-sm-2 col-form-label">Yakın Telefon</label>
                    <div class="col-sm-6"><input required id="relativesphone" readonly="@basvuruDuzenleme" placeholder="Yakın Telefon..." type="tel" class="form-control" value="@Model.RelativesPhone"></div>
                </div>

                @{
                    if (SessionHelper.DefaultSession.UserType == (int)UserTypeEnum.Sick)
                    {
                        <div class="position-relative row form-group">
                            <label for="sickdate" class="col-sm-2 col-form-label">Hastalık Tarihi</label>
                            <div class="col-sm-6">
                                <input asp-for= "SicknessDate" name="sickdate" id="sickdate" type="date" readonly="@basvuruDuzenleme" asp-format = "{0:yyyy-MM-dd}" class="form-control" /> 
                          
                            </div>
                        </div>

                        <div class="position-relative row form-group">
                            <label for="sickdesc" class="col-sm-2 col-form-label"> Açıklama</label>
                            <div class="col-sm-6"><textarea name="text" required id="sickdesc" readonly="@basvuruDuzenleme" class="form-control" value="@Model.Description">@Model.Description</textarea></div>
                        </div>
                    }

                }
            <div class="position-relative row form-group">
                @if (!basvuruDuzenleme)
                {
                    <label for="reportfile" class="col-sm-2 col-form-label">Raporlar</label>
                    <div class="col-sm-6">
                        <input type="file" class="jfilestyle form-control-file"  data-text="Dosya Ekle" data-theme="asphalt" id="reportfile" placeholder="Logo">

                        <small class="form-text text-muted">Raporlarınızı Pdf Formatında Ekleyiniz.</small>
                    </div>
                }

            </div>
            </div>


            <fieldset class="  position-relative row form-group" style="margin: 10px">
                <table class=" table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Soru</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QuestionsList)
                        {
                            <tr>
                                <td class="questionId">@item.Id</td>
                                <td scope="row">@item.QuestionDesc</td>

                                @{
                                    QuestionResult result = new QuestionResult();
                                    if (Model.QuestionResulList != null && Model.QuestionResulList.Count() > 0)
                                    {
                                        result = Model.QuestionResulList.Single(x => x.QuestionId == item.Id);
                                    }

                                    if (result.Result == 1)
                                    {
                                        <td>
                                            <input type="hidden" name="hidden+@item.Id" value="@result.Id" />
                                            <input name="radio+@item.Id" readonly="@basvuruDuzenleme" value="1" data-question-resultid="@result.Id" type="radio" checked class="form-check-input">
                                            <label for="@item.Id">Evet</label>
                                        </td>
                                        <td>
                                            <input name="radio+@item.Id" value="0" readonly="@basvuruDuzenleme" type="radio" class="form-check-input">
                                            <label for="@item.Id"> Hayır </label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input type="hidden" name="hidden+@item.Id" value="@result.Id" />
                                            <input name="radio+@item.Id" value="1" readonly="@basvuruDuzenleme" data-question-resultid="@result.Id" type="radio" class=" form-check-input">
                                            <label for="@item.Id">Evet</label>
                                        </td>
                                        <td>
                                            <input name="radio+@item.Id" readonly="@basvuruDuzenleme" value="0" type="radio" checked class=" form-check-input">
                                            <label for="@item.Id"> Hayır </label>
                                        </td>
                                    }
                                }



                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
            <div class="position-relative row form-check" style="margin: 10px">
                <div class="col-sm-2 offset-sm-10">
                    <button class="btn btn-outline-success" disabled="@basvuruDuzenleme" id="kaydet">Başvuruyu Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $("#kaydet").click(function () {

        var data = [];
        $("table > tbody > tr").each(function (key) {
            var questionId = $(this).find('td').eq(0).text();

            data.push({ Id: $('input[name="hidden+' + questionId + '"]').val(), QuestionId: $(this).find('td').eq(0).text(), QuestionResult: $('input[name="radio+' + questionId + '"]:checked').val() });
        });
        console.log(data);
        var myfile = $('#reportfile').get(0).files[0];
        var formData = new FormData();
        formData.append('ReportResult', myfile);
        formData.append('TransferType', $("#transfertype").val());
        formData.append('RelativesName', $("#relativesname").val());
        formData.append('RelativesSurname', $("#relativessurname").val());
        formData.append('RelativesPhone', $("#relativesphone").val());
        formData.append('SickDate', $("#sickdate").val());
        formData.append('SickDesc', $("#sickdesc").val());
        formData.append('QuestionResultListString', JSON.stringify(data));
        formData.append('Id', $("#basvuruid").val());
        formData.append('SicknessDetailId', $("#sicknessdetailid").val());
        console.log(formData);
        $.ajax({
            url: "/Application/ApplicationSave",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false
        })
            .done(function (data) {
                alert(data.message);
            })
            .fail(function () {
            });
    });
</script>