 @model List<Models.Application.DonorApplicationListModel>
    @{

        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Donör Listesi</h5>
                    <table class="mb-0 table table-hover">
                        <thead>
                            <tr>
                                <th>Adı</th>
                                <th>Soyadı</th>
                                <th>Telefon</th>
                                <th>Mail</th>
                                <th>Nakil Tipi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <th scope="row">@item.Name</th>
                                <td>@item.Surname</td>
                                <td>@item.Phone</td>
                                <td>@item.Mail</td>
                                <td>@item.TransferType</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
    <table>
    </table>