
@using Models.Enums
@using Core.Extentions
@model List<Models.Application.SickApplicationListModel>
@{
    <style>
    
        .modal-backdrop {
            display: none !important;
        }
    </style>


    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-header">
                <input id="myInput" type="text" placeholder="Search..">
            </div>
            <div class="card-body">
                <h5 class="card-title">Hasta Listesi</h5>
                <table  id="sickAppTable"class="mb-0 table table-hover">
                    <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Telefon</th>
                        <th>Mail</th>
                        <th>Hastalık Tarihi</th>
                        <th>Açıklama</th>
                        <th>Nakil Tipi</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">@item.Name</td>
                            <td>@item.Surname</td>
                            <td>@item.Phone</td>
                            <td>@item.Mail</td>
                            <td>@item.SicknesskDate</td>
                            <td>@item.Description</td>
                            <td>@(((TransferType) item.TransferType).GetDescription())</td>
                            <td><button class="btn btn-outline-warning" onclick="FileView(@item.Id);"><i class="fa fa-file-pdf"></i></button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="filemodal" style="position:relative" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalicerik">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-shadow p-2" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function FileView(id) {
        $.ajax({
            url: "/Application/ApppFileView",
            type: "POST",
            data: { id: id },
            dataType: 'json'
        })
            .done(function (data) {
                console.log(data.object);
                $("#modalicerik").html("");
                $("#modalicerik").html("<div style='min-height: 100% !important;'><iframe src='" + data.object + "' frameborder='0' scrolling='auto' height='900' width='750'></iframe></div>");
                $('#filemodal').modal("show");
            })
            .fail(function () {
            });

    };

    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#sickAppTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
    });
   
</script>