@using Core.Extentions
@using Models.Enums
@model Models.Home.RegisterModel

	

		<div class="tab-pane tabs-animation fade show active " id="tab-content-0" role="tabpanel">
			<div class="main-card mb-3 card">
				<div class="card-body" style="width: 800px">
					<form method="post"  enctype="multipart/form-data" asp-controller="Home" asp-action="Register" class="card-body" >
						<h5 class="card-title">KULLANICI KAYIT FORMU</h5>
						<div class="position-relative form-group"><label for="FirstName">Ad</label><input required name="FirstName" type="text" class="form-control"></div>
						<div class="position-relative form-group"><label for="LastName">Soyad</label><input required name="LastName" type="text" class="form-control"></div>
						<div class="position-relative form-group"><label for="IdentityNumber">TC</label><input required name="IdentityNumber" type="text" class="form-control"></div>
						<div class="position-relative form-group"><label for="Birthday">Doğum Tarihi</label><input required name="Birthday" type="date" class="form-control"></div>
						<fieldset class="position-relative form-group">
							Cinsiyet
							<div class="position-relative form-check">
								<label class="form-check-label"><input name="Gender" type="radio" value="1" class="form-check-input">Kadın</label>
							</div>
							<div class="position-relative form-check"><label class="form-check-label"><input name="Gender" type="radio" value="2" class="form-check-input">Erkek</label></div>
							<div class="position-relative form-check"><label class="form-check-label"><input checked name="Gender" type="radio" value="0" class="form-check-input">Belirtmek istemiyorum</label></div>
						</fieldset>
						<fieldset class="position-relative form-group">
							<div class="position-relative form-check">
								<label class="form-check-label"><input checked name="UserType" type="radio" value="1" class="form-check-input">Hasta</label>
							</div>
							<div class="position-relative form-check"><label class="form-check-label"><input name="UserType" type="radio" value="2" class="form-check-input">Donör</label></div>
						</fieldset>

						<div class="position-relative form-group"><label for="MotherName">Anne Adı</label><input name="MotherName" type="text" class="form-control"></div>
						<div class="position-relative form-group"><label for="FatherName" class="">Baba Adı</label><input name="FatherName" type="text" class="form-control"></div>
						<label>İl</label>
						<select required name="CityId" id="CityId" class="mb-2 form-control">
							@{
								foreach (var item in Model.CityList)
								{
									<option value="@item.Id">@item.CityName</option>
								}
							}
						</select>
						<label>İlçe</label>
						<select required name="DistrictId" id="DistrictId" class="mb-2 form-control">
						</select>
						<div class="position-relative form-group"><label for="AddressDesc" class="">Adres</label><input required name="AddressDesc" type="text" class="form-control"></div>
						<div class="position-relative form-group">
							<label for="Phone" class="">Tel</label>
							<input required name="Phone" type="text" class="form-control">
						</div>

						<div class="position-relative form-group"><label for="Mail">Email</label><input required name="Mail" type="email" class="form-control"></div>
						<div class="position-relative form-group">
							<label for="Password" class="">Şifre</label><input required name="Password" type="password" class="form-control">
						</div>
						<div class="position-relative form-group">
							<label for="RPassword" class="">Şifre Tekrar</label><input required name="RPassword" type="password" class="form-control">
						</div>

						<div class="position-relative form-group"><label for="Weight">Kilo</label><input name="Weight" type="text" class="form-control"></div>
						<div class="position-relative form-group"><label for="Height">Boy</label><input name="Height" type="text" class="form-control"></div>
						<div class="row">
							<div class="col-md-6">
								<label>Kan Grubu</label>
								<select name="BloodGroup" class="mb-2 form-control">
									<option value="@Convert.ToInt32(BloodGroupEnum.A)">@BloodGroupEnum.A.GetDescription()</option>
									<option value="@Convert.ToInt32(BloodGroupEnum.B)">@BloodGroupEnum.B.GetDescription()</option>
									<option value="@Convert.ToInt32(BloodGroupEnum.AB)">@BloodGroupEnum.AB.GetDescription()</option>
									<option value="@Convert.ToInt32(BloodGroupEnum.O)">@BloodGroupEnum.O.GetDescription()</option>
								</select>
							</div>
							<div class="col-md-6">
								<select name="Rh" class="mb-2 form-control" style="margin-top: 29px">
									<option value="@Convert.ToInt32(RhEnum.Negative)">@RhEnum.Negative.GetDescription()</option>
									<option value="@Convert.ToInt32(RhEnum.Positive)">@RhEnum.Positive.GetDescription()</option>
								</select>
							</div>
						</div>
						<label>Medeni Durumu</label>
						<select name="CivilStatus" class="mb-2 form-control">
							<option value="@Convert.ToInt32(CivilStatusEnum.Single)">@CivilStatusEnum.Single.GetDescription()</option>
							<option value="@Convert.ToInt32(CivilStatusEnum.Married)">@CivilStatusEnum.Married.GetDescription()</option>
						</select>
						<label>Eğitim Durumu</label>
						<select name="EducationStatus" class="mb-2 form-control">
							<option value="@Convert.ToInt32(EducationStatusEnum.AssociateDegree)">@EducationStatusEnum.AssociateDegree.GetDescription()</option>
							<option value="@Convert.ToInt32(EducationStatusEnum.HighSchool)">@EducationStatusEnum.HighSchool.GetDescription()</option>
							<option value="@Convert.ToInt32(EducationStatusEnum.HighUniversity)">@EducationStatusEnum.HighUniversity.GetDescription()</option>
							<option value="@Convert.ToInt32(EducationStatusEnum.MiddleSchool)">@EducationStatusEnum.MiddleSchool.GetDescription()</option>
							<option value="@Convert.ToInt32(EducationStatusEnum.PrimarySchool)">@EducationStatusEnum.PrimarySchool.GetDescription()</option>
							<option value="@Convert.ToInt32(EducationStatusEnum.University)">@EducationStatusEnum.University.GetDescription()</option>
						</select>

					<button class="mt-1 btn btn-primary" type="submit" >Kaydet</button>
					</form>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

		<script>

			$('#CityId').change(function () {

				var id = $(this).val();
				var ilceid = $("#DistrictId");
				ilceid.empty();
				$.ajax({
					url: 'DistrictList',
					type: 'POST',
					dataType: 'json',
					data: { 'id': id },
					success: function (data) {
						console.log(data);
						$.each(data.object,
							function (index, option) {
								ilceid.append('<option value=' + option.id + '>' + option.districtName + '</option>');
							});
					}
				});
			});
		</script>
