@using Repository.Helpers
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hasta Donör Uygulaması</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Tables are the backbone of almost all web applications.">
    <meta name="msapplication-tap-highlight" content="no">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="~/main.css" rel="stylesheet" />
    <link href="~/Grid/Content/gijgo.min.css" rel="stylesheet" />
    <script src="~/assets/scripts/jquery-3.3.1.js"></script>
    <script src="~/Grid/Scripts/gijgo.min.js" type="text/javascript"></script>
    @*<link href="~/css/bootstrap-glyphicons.css" rel="stylesheet" />*@


    <link href="~/css/jquery-filestyle.min.css" rel="stylesheet" />


    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }
        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #04AA6D;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }
            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        @if (SessionHelper.DefaultSession.Id != 0)
                                        {
                                            @SessionHelper.DefaultSession.FirstName
                                            <span>  &nbsp;</span>
                                             @SessionHelper.DefaultSession.LastName
                                        }
                                    </div>

                                </div>  @if (SessionHelper.DefaultSession.Id != 0)
                                {
                    <div class="widget-content-left">
                        <div class="btn-group">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
                            </a>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <button type="button" tabindex="0" class="dropdown-item">Kullanıcı Ayarları</button>
                                <div tabindex="-1" class="dropdown-divider"></div>
                                <button onclick="@("location.href='"+Url.Action("LogOut","Home")+ "'")" type="button" tabindex="0" class="dropdown-item">
                                    Çıkış Yap
                                </button>
                            </div>
                        </div>
                    </div>}
                                <div class="widget-content-right header-user-info ml-3">
                                    @if (SessionHelper.DefaultSession.Id != 0)
                                    {@*<button id="enterbutton" type="button" class="btn-shadow p-1 btn btn-primary" onclick="@("location.href='"+Url.Action("LogOut","Home")+ "'")">Çıkış Yap</button>*@ }
                                                else
                                                {
                                    <button id="enterbutton" type="button" class="btn-shadow p-1 btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Giriş Yap</button>
                                                    <button onclick="@("location.href='"+ Url.Action("RegisterScreen","Home")+ "'")" type="button" class="btn-shadow p-1 btn btn-primary  show-toastr-example">
                                                        Kayıt Ol
                                                    </button>}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Listeler</li>
                            <li>
                                <a href="@Url.Action("DonorApplicationList","Application")">
                                    <i class="metismenu-icon pe-7s-leaf"></i>
                                    Donör Başvuru Listesi
                                </a>
                            <li>
                                <a href="@Url.Action("SickApplicationList","Application")">
                                    <i class="metismenu-icon pe-7s-users">
                                    </i>Hasta Başvuru Listesi
                                </a>
                            </li>
                            @if (SessionHelper.DefaultSession.Id != 0)
                            {
                <li class="app-sidebar__heading">Başvurlarım</li>
                                <li>
                                    <a href="@Url.Action("AplicationCreate", "Application")">
                                        <i class="metismenu-icon pe-7s-mouse">
                                        </i>Başvuru Yap
                                    </a>
                                </li>
                                                <li>
                                                    <a href="@Url.Action("UserApplicationInformList", "Application")">
                                                        <i class="metismenu-icon pe-7s-note2">
                                                        </i> Başvurularım
                                                    </a>
                                                </li>}

                        </ul>
                    </div>
                </div>
            </div>  
            <div class="app-main__outer">
                <div class="app-main__inner">
                    
                        @RenderBody()
                   
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="https://github.com/ozgundgn/HealthCareApp" class="nav-link">
                                            <i class="fa fa-download icon-gradient bg-malibu-beach"> </i>  Github Link
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <ul class="nav">

                                    <li class="nav-item">


                                        © 2021 Donör Sistemi

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Small modal -->

        <div class="modal fade bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Login" class="form-container">
                        <div class="modal-body">

                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Email giriniz" name="email" required>

                            <label for="psw"><b>Şifre</b></label>
                            <input type="password" placeholder="Şifre giriniz" name="password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-shadow p-2">Giriş</button>
                            <button type="button" class="btn btn-danger btn-shadow p-2" data-dismiss="modal">Kapat</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script src="~/assets/scripts/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
<script src="~/js/jquery-filestyle.min.js"></script>
@*<script src="~/js/jquery-filestyle.min.js"></script>*@

    @await Component.InvokeAsync("Notyf")
</body>
</html>